<section>
<div class="block" style="height:auto; min-height:500px;">

<p style="margin:300px 550px; 0 0"><%= link_to '<button type="button" class="btn btn-primary">Google +</button>'.html_safe, '/auth/google_oauth2' %></p>


</div>
</section>
